.account-info {
    background-color: #f0f8ff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
  
    h2 {
      color: #333;
    }
  
    .info {
      p {
        margin: 5px 0;
        font-size: 14px;
      }
    }
  }
  