@use "sass:map";
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
@import "styles/page/theme";
.custom-button{
    
        border-radius: 20px;
        border: 1px solid map.get($theme-colors,"main");
        background-color: map.get($theme-colors,"main");
        color: map.get($theme-colors,"normal-text");
        font-size: 12px;
        font-weight: bold;
        padding: 12px 45px;
        letter-spacing: 1px;
        text-transform: uppercase;
        transition: transform 80ms ease-in;
        margin-top: 15px;
    
        .ghost {
            background-color: transparent;
            border-color: #FFFFFF;
        }
    
}
.custom-button:active {
    transform: scale(0.7);
}

.custom-button:focus {
    outline: none;
}
.button-icon{
    font-size: 15px;
    padding-left: 1px;
    
    
}